body{
    background-color:#f0eff2;
}
.header {
    background-color: #000000;
    color: #ffffff;
    padding: 15px 30px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header__logo {
    width: 30%;
}

.header__logo--img {
    width: 100%;
}

.header__img {
    width: 80%;
}

.header__buttons {
    display: flex;
}

.header__button {
    padding: 5px 10px;
}

.header__button--logout {
    background-color: #000000;
    border: none;
    color: #ffffff;
    font-size: 15px;
}

.header__button--login {
    background-color: #000000;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}

.header__mypage {
    padding: 5px 30px 5px 10px;
}

.header__button--link{
    text-decoration: none;
    color: #ffffff;
}

.error {
    color: red;
    text-align: left;
}