.main {
    margin: 0 auto;
    width: 60%;
}

.main__title {
    font-size: 30px;
    margin-top: 60px;
    transform: translate(-20px);
}

.main__title::before {
    content: "";
    background-color: #000000;
    width: 40px;
    height: 0;
    border: solid 5px #000000;
    display: inline-block;
    transform: rotate(90deg);
}

.detail__table {
    margin: 40px 0 20px 0;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    color: #737373;
}

.detail__row {
    border-bottom: solid 2px #f0eff2;
}

.detail__header {
    border-bottom: solid 2px #f0eff2;
    text-align: left;
    padding: 20px 0 20px 50px;
    width:40%;
}

.detail__data {
    padding: 10px 0;
    width:60%;
    color: #000000;
}

.input__field{
    text-align: center;
    width:60px;
    border:solid 1px #e1e1e1;
    border-radius: 3px;
    padding:2px 0;
}

.input__field--remarks {
    width: 205px;
    height:50px;
    border: solid 1px #e1e1e1;
    padding-top: 0;
}

.detail__button{
    text-align: right;
    margin-bottom:40px;
}

.button__submit{
    border: none;
    border-radius: 3px;
    width:90px;
    padding:5px 15px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
}

.detail__message{
    color:#f77879;
}

.button__approved{
    background-color: #696969;
}