.main {
    margin: 0 auto;
    width: 60%;
}

.main__title {
    font-size: 30px;
    margin-top: 60px;
    transform: translate(-20px);
}

.main__title::before {
    content: "";
    background-color: #000000;
    width: 40px;
    height: 0;
    border: solid 5px #000000;
    display: inline-block;
    transform: rotate(90deg);
}

.request__tabs {
    display: flex;
    margin-top: 30px;
}

.request__tab{
    margin-right:60px;
    margin-left:20px;
    text-decoration: none;
    color:#000000;
    font-size:14px;
}

.request__tab--selected{
    font-weight:bold;
}

.horizon{
    border: 0.5px solid #000000;
    width:100%;
    margin-top:10px;
}

.request__table {
    margin: 40px 0;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    color: #737373;
}

.request__row {
    border-bottom: solid 2px #f0eff2;
}

.request__header {
    padding: 5px 10px;
    border-bottom: solid 3px #f0eff2;
    text-align: left;
    font-size: 10px;
}

.request__data {
    padding: 5px 10px;
    text-align: left;
    font-size:10px;
    font-weight: bold;
}


.request__data--detail {
    color: #000000;
}

.request__link--detail {
    text-decoration: none;
    color: #000000;
}